# Problem Set 11

### Problem 4

The data also represents an example of Simpson's Paradox. Use whatever visualization tools you'd like to illustrate the two possible perspectives. Make sure to include a screenshot of each and explain the perspective shown in each.

In [1]:
#import the things
import pandas as pd
import numpy as np
import altair as alt
alt.renderers.enable('notebook')
#visualization with altair? needs these three lines!!!

RendererRegistry.enable('notebook')

In [2]:
#Load the dataset
simpsons = pd.read_csv('simpsons_paradox.csv')
simpsons

    Gender  Mean_Age  Admitted  Rejected Department
0   Female        25        89        19          A
1   Female        22        17         8          B
2   Female        24       202       391          C
3   Female        23       131       244          D
4   Female        24        94       299          E
5   Female        24        24       317          F
6     Male        22       512       313          A
7     Male        22       353       207          B
8     Male        23       120       205          C
9     Male        24       138       279          D
10    Male        22        53       138          E
11    Male        25        22       351          F